/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

body {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    background-color: #c9a2a2;
    color: black
}
.profpic{
    border-radius: 50%;
    border:5px solid #293d3d;
        padding: 3px;
        margin: 5px;
}
.profpic-aboutme {
    border:5px solid #293d3d;
    float: left;
    padding: 3px;
    margin: 5px;
    margin-right:10px;
    margin-left: 20px;
}
.who-am-i {
    text-align: justify;
    padding: 10px;
}

h1 {
  font-size: 35px;
  font-weight: 700;
  color:#293d3d;
  margin: 10px;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  margin: 10px;
}

h3 {
  font-size: 18px;
  font-weight: 700;
  margin:10px;
}
p {
  margin: 10px;
}
a {
    color: #2a6783;
  }
  
  a:hover {

    text-decoration: none; }
    a:visited {
        color: #2a6783;
      }
      
      a:active {
        color: #2a6783;
      }
      .button {
        border: none;
        font-family: inherit;
        background-color:#293d3d;
        color: white;
        text-decoration: none;
        border-radius: 3px;
        border-bottom: 2px solid rgba(0, 0, 0, 0.3);
        -webkit-transition: opacity 0.9s;
        -o-transition: opacity 0.9s;
        transition: opacity 0.9s;
      }
      button {
        border: none;
        font-family: inherit;
        background-color:#293d3d;
        color: white;
        text-decoration: none;
        border-radius: 3px;
        border-bottom: 2px solid rgba(0, 0, 0, 0.3);
        -webkit-transition: opacity 0.9s;
        -o-transition: opacity 0.9s;
        transition: opacity 0.9s;
      }
      .button {
        margin-top: 100px;
        margin: 10px;
        display: inline-block;
        padding: 5px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
      }
      .button:hover, .button:focus,
      button:hover, button:focus {
        cursor: pointer;
        opacity: 0.8;
      }
      div {
       /* padding: 10px; /* Adds a 10px inner spacing to all sides*/
       /* margin: 10px; /* Adds a 10px outer spacing to all sides*/
       /* border: 1px solid black; /* Attributes describe: thickness, type, color*/ 
      
      }
      .planeimg {
        float:right;
        margin-right: 10px;
        margin-left: 20px;
        border:5px solid #293d3d;
        padding: 3px;
        margin: 5px;
      }
      .experience-header {
        margin-left: 190px;
      }
     .experience-pic {
        float:left;
        margin-right: 10px;
        margin-left: 20px;
        border:5px solid #293d3d;
        padding: 3px;
        margin: 5px;
     } 
      .experience-table {
        text-align: center;
      }
     .my-story-header {
      text-align: center;
     }
      .my-story-text {
        text-align: center;
        padding:10px 
      }
      table {
        text-align: justify;
      }
      .footer-index {
        clear: both;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        text-align: center;
      }
      .page-header {
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        padding:20px;
      }
      .page-header {
        -webkit-box-flex: 0;
            -ms-flex: 0 1 200px;
                flex: 0 1 200px;
      }
      .page-header-pic {
        -webkit-box-flex: 0;
            -ms-flex: 0 1 200px;
                flex: 0 1 200px;
      }
      
      .page-header-nav {
        display: inline-block;
        margin-left: 15px;      
        -webkit-box-flex: 1;      
            -ms-flex-positive: 1;      
                flex-grow: 1;
        text-align:center;
        margin-right: 50px;
      }
      .nav-list {
          list-style-type: none;        
        }
        .nav-list li {
          display: inline-block;
          margin-left: 15px;
        }
      .page-header-nav:last-child {
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1;
        text-align: right;
      }
      .intro {
        text-align: center;
        padding: 20px;
      }
      button {
        margin-top: 20px;
      }
      .my-work {
        text-align: center;
      }
      .grid__item {
        display: inline-block;
        width: 33%;
       }
       @supports (display: grid) {
        .grid {
          display: -ms-grid;
          display: grid;
          /* grid-template-columns: 300px 300px 300px; fractions are better than pixels - they are responsive */
          -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
          grid-template-columns: 1fr 1fr 1fr;
          grid-gap: 20px;
          margin: 0;
        }
        }
        .grid__item {
           background-color: lightgray;
           width: auto;
           min-height: auto;
           margin: 0;
           text-align: center;
        }
        .grid__item:last-child {
          -ms-grid-column: 3;
          grid-column: 3 / 3;
          -ms-grid-row: 1;
          -ms-grid-row-span: 2;
          grid-row: 1 / 3;
        }
      .grid {
        display:-ms-grid;
        display:grid;
        -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 20px;
        grid-gap:20px;
      }
  .grid__item:last-child {
    -ms-grid-column: 3;
        grid-column-start: 3;
    -ms-grid-column-span: 0;
    grid-column-end: 3;
    -ms-grid-row: 1;
        grid-row-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
  }
  .grid__item:last-child {
    -ms-grid-column: 3;
    grid-column: 3 / 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
  }
  @media all and (max-width: 500px) {
    .grid {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      grid-gap: 10px;
    }
  }
    .grid__item:last-child {
      grid-column: auto / auto;
      grid-row: auto / auto;
    }
    @media all and (max-width: 500px) {
      .grid {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
      }
    }
    @media screen and (min-width: 615px) and (max-width: 750px) {
      .page-header-nav {
        float:none;
        width: 100%;
      }
    }
    @media screen and (min-width: 100px) and (max-width:615px) {
      .page-header-pic {
        display: none;
        width: 100%;
      }
    }

    @media all and (min-width: 500px) and (max-width: 750px){
      .grid {
        -ms-grid-columns: 1fr 10px 1fr;
        grid-template-columns: 1fr 1fr;
      }
    }
    @media all and (max-width: 750px) {
      .grid {
        grid-gap: 10px;
      }
      .grid__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
      }
      h1 {
        font-size: 22px;
      }
    }
    .grid__item:hover {
      -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
              transform: scale(1.1);
  }
    .profpic-contact {
      text-align: center;
    }
    .contact-me {
      text-align: center;
    }
    form {
      max-width: 400px;
      margin: 0 auto;
      background-color: lightgray;
      padding: 20px 40px; /* Adjusted padding on the right */
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border: 2px solid #293d3d;
      ;
    }
    
    label {
      display: block;
      margin-bottom: 5px;
    }
    
    input[type="text"],
    input[type="email"],
    textarea {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 3px;
    }
    
    button[type="submit"] {
      background-color: #293d3d;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 3px;
      cursor: pointer;
    }
  @-webkit-keyframes color-change {
    0% {
      fill: #edc655;
    }
    50% {
      fill: #fcffad;
    }
    100% {
      fill: #f76414;
    }
  }
  @keyframes color-change {
    0% {
      fill: #edc655;
    }
    50% {
      fill: #fcffad;
    }
    100% {
      fill: #f76414;
    }
  }
  .sun {
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    -webkit-animation-name: color-change;
            animation-name: color-change;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  @-webkit-keyframes cloud-move {
    from {
      -webkit-transform: translate(0, 50px);
              transform: translate(0, 50px);
    }
    to {
      -webkit-transform: translate(200px, 50px);
              transform: translate(200px, 50px);
    }
  }
  @keyframes cloud-move {
    from {
      -webkit-transform: translate(0, 50px);
              transform: translate(0, 50px);
    }
    to {
      -webkit-transform: translate(200px, 50px);
              transform: translate(200px, 50px);
    }
  }
  .cloud-front {
    -webkit-animation-duration: 30s;
            animation-duration: 30s;
    -webkit-animation-name: cloud-move;
            animation-name: cloud-move;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  @-webkit-keyframes cloud-move-reverse {
    from {
      -webkit-transform: translate(446px, 48px);
              transform: translate(446px, 48px);
    }
    to {
      -webkit-transform: translate(100px, 48px);
              transform: translate(100px, 48px);
    }
  }
  @keyframes cloud-move-reverse {
    from {
      -webkit-transform: translate(446px, 48px);
              transform: translate(446px, 48px);
    }
    to {
      -webkit-transform: translate(100px, 48px);
              transform: translate(100px, 48px);
    }
  }
  .cloud-back {
    -webkit-animation: 34s cloud-move-reverse infinite alternate linear;
            animation: 34s cloud-move-reverse infinite alternate linear;
  }